body {
  background-color: #0A0A0A;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/* header */
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky !important;
  top: 0px;
  right: 0px;
  z-index: 9999;
  width: 100%;
  background-color: #0A0A0A;
  padding: 0px 5%;
}

.nav_bar .nav_items {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav_bar .nav_items:hover {
  border-bottom: 3px solid yellow;
}

/* slider */
.slide_img {
  height: 500px;
}

/* about */
.about-img img {
  border-radius: 15px;
  height: 530px;
  width: 100%;
}

#about-contend h2 {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

#about-contend h2::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 260px;
  height: 3px;
  background-color: yellow;
  border-radius: 2px;
}

#about-contend p {
  font-size: 1.5rem;
}

/* home-gallery */
.home-gallery-container {
  padding: 40px 20px;
}

.home-gallery-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
  font-weight: 700;
  color: #FFFFFF;
}

.home-gallery-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.home-gallery-card {
  width: calc(25% - 20px);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  cursor: pointer;
  background-color: #0D6EFD;
}

.home-gallery-card:hover {
  transform: translateY(-5px);
}

.home-gallery-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 12px;
  text-align: center;
}

.card-info h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
}

/* gallery */
.gallery-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.gallery-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.gallery-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-grid img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, filter 0.3s;
  cursor: pointer;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}


/* Footer  */
.footer {
  background: #0A0A0A;
  color: #FFFFFF;
  padding: 40px 20px;
  border-top: 2px solid #222;
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#footer-title h3 {
  font-size: 1.8rem;
  margin-top: 15px;
  font-weight: 700;
  color: #FFFFFF;
}

#footer-title p {
  margin: 5px 0;
  opacity: 0.8;
  font-size: 1.2rem;
}

#footer_pages h3,
#footer_contact h3 {
  font-weight: 700;
  margin-bottom: 8px;
  color: #FFFFFF;
}

#footer_pages a,
#footer_contact a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 5px 0px;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

#footer_pages a:hover,
#footer_contact a:hover {
  color: #FFFFFF;
  transform: translateX(5px);
}

#footer-img img {
  border-radius: 8px;
}

#footer-img h3 {
  margin: 15px 0 0 5px;
}

#footer_contact a {
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  #footer-img {
    justify-content: center;
  }

  #footer_pages,
  #footer_contact {
    margin-top: 25px;
  }
}

.footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, #444, transparent);
  margin-bottom: 20px;
}

@media screen and (max-width : 520px) {
  .nav_bar {
    flex-direction: column !important;
    padding-bottom: 10px;
    z-index: 9999;
  }

  .nav_bar .nav_items {
    padding: 0px 10px;
  }

  .nav_bar .nav_items:hover {
    border-bottom: 3px solid yellow;
  }

  .slide_img {
    height: 280px;
  }

  .home-gallery-container {
    padding: 20px !important;
  }

  .home-gallery-card {
    width: calc(50% - 20px) !important;
  }

  .home-gallery-card img {
    width: 100%;
    height: 150px !important;
  }

  #about-contend h2::after {
    width: 200px;
  }
}